<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="全部" value="ElasticSearch"/>
    <add key="模板" value="TemplateElasticSearch"/>
    <add key="任务" value="TaskGroupElasticSearch"/>
    <add key="事件" value="EventsGroupElasticSearch"/>
    <add key="学生信息" value="StudentInfoElasticSearch"/>
  </appSettings>
</configuration>